body {
    font-family: Arial, sans-serif;
}

#wrapper {
    width: 720px;
    margin: 0px auto;
}

header {
    margin-bottom: 10px;
}
header h1 {
    margin-bottom: 0px;
}
#tagline {
    font-size: 10pt;
    color: gray;
}
#tagline a {
    color: #7bf;
    text-decoration: none;
}
#tagline a:hover {
    text-decoration: underline;
}

article {
    position: relative;
}
#stars {
    display: block;
    width: 720px;
    height: 360px;
    clear: both;
    background-color: black;
}
#pony {
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    background-color: rgba(176, 230, 255, 0.77);
    border-top-left-radius: 20px;
}
#pony:hover {
    opacity: 1;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
}
#stars-superimpose {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    width: 200px;
    padding: 5px;
    font-size: 10pt;
}
#stars-superimpose a {
    color: orange;
    text-decoration: none;
}
#stars-superimpose a:hover {
    text-decoration: underline;
}
a#whoosh {
    color: #afa;
}

.bitcoin {
    font-family: monospace;
    font-size: 75%;
}

footer {
    font-size: 9pt;
    color: gray;
    clear: both;
    margin-top: 5px;
}
