body {
    color: orange;
    font-family: Arial, sans-serif;
    font-size: 24pt;
}

h1 {
    background-color: rgb(32, 32, 32);
    float: left;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}

hr, p {
    clear: both;
}
